#map {
  margin-top: 5%;
  height: 70%;
  width:80%;
  margin: auto;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', monospace;
  font-size: 25px;
  color:#2d357d
}

button{
  border: none;
  width:70px;
  height:30px;
}

button p{
  margin:auto;
}
.introduction{
  margin-top:2%;
  width:100%;
}
.title{
  display: block;
}
.titleH2{
  font-size: 35px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', monospace;
  color:#2d357d
  }
.recyle{
  height:300px;
  width:300px;
}

.navbar{
  display: inline-flex;
  gap: 20px;
}

.item a{
  color:#494e7a;
  text-decoration: none;
}
.moto{
  margin-top:10%;
}
.moto h1{
  font-size: 60px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', monospace;
  color:#2d357d;

}
.button-near {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.bottle{
  background-image: url("photos/bottle.jpg");
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

  height: 50vh;
  width:85%;
  margin:auto;
}

.signForm{
  position:relative;
  top:20%;
  width:100%;
  text-align: center;
}
.signForm form{
  width:200px;
  display:flex;
  flex-direction: column;
  gap:10px;
  margin: auto;
  
}

.signForm input{
  height:30px;
}

.submit{
  width:100px;
  margin:auto;
}

.content{
  width:50%;
  text-align: center;
  margin:auto;
  margin-top: 7%;
}

.content h2{
  font-size: 35px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', monospace;
  color:#2d357d
}

.content .p{
  color:#494e7a;
  font-size:15px;
}

.content p{
  line-height: 150%;
  color: #676a6e;
}


.contact{
  display:flex;
  flex-direction: column;
  width:50%;
  margin:auto;
  background-color: #ebebeb;
  border-radius:5px ;
  margin-top: 5%;
}

.contact form{
  display:flex;
  flex-direction: column;
  text-align: left;
  margin:auto;
}

.contact input{
  width:300px;
  height:40px;
  border: none;
  border-bottom: black 1px solid;
  background-color: #ebebeb;
}

.contact .subject{
  resize: none;
  width: 400px;
  height:40px;
  border: none;
  border-bottom: black 1px solid;
  background-color: #ebebeb;
}
.contact .message{
  width: 400px;
  height:40px;
  resize: vertical;
  border: none;
  border-bottom: black 1px solid;
  background-color: #ebebeb;
}

.contact p{
  color:#494e7a;
  font-size:15px;
}

.contact .submit{
  width:100px;
  margin:auto;
  border:none;
  background-color: #b3b3b3;
}

.contact h2{
  font-size: 35px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', monospace;
  color:#2d357d
}